@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #343051;
    margin: 0;
}

* {
    font-family: 'Roboto', 'siste';
    font-weight: lighter;
    box-sizing: border-box;
    color: #DCDEE4;
  }

a{
    text-decoration: none;
}
